<div fxLayout="column" fxLayoutAlign="start stretch">

    <button fxFlexAlign="end" mat-stroked-button color="primary">Ajouter</button>

    <table mat-table [dataSource]="dataSource" class="mat-elevation-z0">
 
        <!-- date Column -->
        <ng-container matColumnDef="date">
            <th mat-header-cell *matHeaderCellDef> Date </th>
            <td mat-cell *matCellDef="let element"> {{element.date | date:"MM/dd/yyyy"}} </td>
        </ng-container>
    
        <!-- title Column -->
        <ng-container matColumnDef="type">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let element">
                <fa-icon [icon]="getIcon(element)" size="lg" [fixedWidth]="true"></fa-icon>
            </td>
        </ng-container>
    
        <!-- title Column -->
        <ng-container matColumnDef="title">
            <th mat-header-cell *matHeaderCellDef> Titre </th>
            <td mat-cell *matCellDef="let element"> {{element.title}} </td>
        </ng-container>
    
        <!-- Open action Column -->
        <ng-container matColumnDef="download">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let element">
                <button mat-icon-button color="primary">
                    <mat-icon class="mat-18">download</mat-icon>
                </button>
            </td>
        </ng-container>
    
        <!-- Delete action Column -->
        <ng-container matColumnDef="delete">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let element">
                <button mat-icon-button color="warn">
                    <mat-icon class="mat-18">delete</mat-icon>
                </button>
            </td>
        </ng-container>
    
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let element; columns: displayedColumns;" class="element-row"></tr>
      </table>
</div>