<div fxLayout="column" fxLayoutGap fxLayoutAlign="start stretch">
    <div fxLayout="row" fxLayoutAlign="start stretch" fxLayoutGap>
        <div fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap fxFlex="33">
            <mat-expansion-panel class="mat-elevation-z0" expanded>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <span class="card-title">Identité</span>
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <app-company-identity></app-company-identity>
            </mat-expansion-panel>

            <mat-expansion-panel class="mat-elevation-z0" expanded>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <span class="card-title">Adresse</span>
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <app-address></app-address>
            </mat-expansion-panel>
        </div>
    
        <div fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap fxFlex>
            <mat-expansion-panel class="mat-elevation-z0" expanded>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <span class="card-title">Documents</span>
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <app-document [documents]="company?.documents"></app-document>
            </mat-expansion-panel>

            <mat-expansion-panel class="mat-elevation-z0" expanded>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <span class="card-title">Rendez-vous</span>
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <app-appointment [appointments]="company?.appointments"></app-appointment>
            </mat-expansion-panel>
        </div>
    </div>

    <mat-expansion-panel class="mat-elevation-z0" expanded>
        <mat-expansion-panel-header>
            <mat-panel-title>
                <span class="card-title">Contrats</span>
            </mat-panel-title>
        </mat-expansion-panel-header>
        <app-contract-list></app-contract-list>
    </mat-expansion-panel>
</div>
