<div *ngIf = "customer$ | async as customer"
     fxLayout="column" fxLayoutGap fxLayoutAlign="start stretch">
    <div fxLayout="row" fxLayoutAlign="start stretch" fxLayoutGap>
        <div fxFlex="33" fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap>
            <mat-expansion-panel class="mat-elevation-z0" expanded>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <span class="card-title">Identité</span>
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <app-customer-identity></app-customer-identity>
            </mat-expansion-panel>
        </div>
        <div fxFlex fxLayout="column" fxLayoutAlign="start stretch">
            <div fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap fxFlex>
                <mat-expansion-panel class="mat-elevation-z0" expanded>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            <span class="card-title">Famille</span>
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <app-family [members]="customer.person?.relationships"></app-family>
                </mat-expansion-panel>
                <mat-expansion-panel class="mat-elevation-z0" expanded>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            <span class="card-title">Documents</span>
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <app-document [documents]="customer.documents"></app-document>
                </mat-expansion-panel>
                <mat-expansion-panel class="mat-elevation-z0" expanded>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            <span class="card-title">Rendez-vous</span>
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <app-appointment [appointments]="customer.appointments"></app-appointment>
                </mat-expansion-panel>
            </div>
        </div>
    </div>
    <mat-expansion-panel class="mat-elevation-z0" expanded>
        <mat-expansion-panel-header>
            <mat-panel-title>
                <span class="card-title">Contrats</span>
            </mat-panel-title>
        </mat-expansion-panel-header>
        <app-contract-list [contracts]="customer.contracts"></app-contract-list>
    </mat-expansion-panel>
</div>