<mat-sidenav-container fullscreen>
  <mat-sidenav #sidenav mode="side" opened="true">
    <h1 class="title">BROKER</h1>
    <mat-nav-list>
      <a mat-list-item [routerLink]="'/dashboard'"> Tableau de bord </a>
      <a mat-list-item [routerLink]="'/portfolio'"> Portfolio </a>
      <a mat-list-item [routerLink]="'/insurers'"> Assureurs </a>
      <a mat-list-item [routerLink]="'/agenda'"> Agenda </a>
      <a mat-list-item [routerLink]="'/settings'"> Paramètres </a>
      <a mat-list-item [routerLink]="'/admin'"> Admin </a>
      <a mat-list-item [routerLink]="'/agents'"> Agents </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="main">
      <mat-toolbar class="position-fixed">
        <mat-toolbar-row>
          <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="15px">
            <button mat-icon-button>
              <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
            </button>
            <div class="breadcrumb">
              <span>{{pageTitle}}</span>
            </div>
          </div>
          <div *ngIf = "showSaveButton" fxFlex fxLayoutAlign="end center">
              <!-- <button mat-icon-button>
                <mat-icon>account_circle</mat-icon>
              </button> -->
              <button mat-flat-button color="accent" (click) = "save()">Enregister</button>
          </div>
        </mat-toolbar-row>
      </mat-toolbar>
      <div class="content">
        <router-outlet (activate)='onActivate($event)'></router-outlet>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>