.input-element {
    border: none;
    background: none;
    padding: 0;
    outline: none;
    font: inherit;
  }
  
.input-spacer {
    opacity: 0;
    transition: opacity 200ms;
  }

  :host.input-floating .input-spacer {
    opacity: 1;
  }
