table {
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
}

tr.element-row:hover {
    background: whitesmoke;
}

.mat-column-delete {
    width: 15px !important;
}

.mat-column-edit {
    width: 15px !important;
}